
<div class="container-fluid bg-faded  pb-5">
    <div class="container">
        <div id="nota">
             
            <div class="row justify-content-center">
                <h1 class="row justify-content-center" id={{animation.notaMuralAnimation.title}}>{{ new.title }}</h1>
            </div>
            <div class="image-contenedor">
                <img id={{animation.notaMuralAnimation.img}} src= "{{ new.cover_image_url }}">
            </div> 
            <div id="fondo" class="pl-2 pr-2 pl-md-5 pr-md-5">
                <p class="" id={{animation.notaMuralAnimation.bodytoggle1}} >{{ new.body_1 }}</p>
                <img class={{animation.notaMuralAnimation.imgToggle1}} [src]='new.image_1_url'> 
                <p class=" " id={{animation.notaMuralAnimation.bodytoggle2}}>{{ new.body_2 }}</p>
                <img class={{animation.notaMuralAnimation.imgToggle2}} [src]="new.image_2_url ">
                <p class="" id={{animation.notaMuralAnimation.bodytoggle3}}>{{ new.body_3 }}</p>
                <img class={{animation.notaMuralAnimation.imgToggle3}} [src]="new.image_3_url">
                <p class="" id={{animation.notaMuralAnimation.bodytoggle4}}>{{ new.body_4 }}</p>
                <img class={{animation.notaMuralAnimation.imgToggle4}} [src]= "new.image_4_url">
                <p class="" id={{animation.notaMuralAnimation.bodytoggle5}}>{{ new.body_5 }}</p>
                <img class={{animation.notaMuralAnimation.imgToggle5}} [src]="new.image_5_url">
                <p class="" id={{animation.notaMuralAnimation.bodytoggle6}}>{{ new.body_6 }}</p>
            </div>

        </div>
    </div>

</div>







